Repository josesilveiraa07/hubii-take-home: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm test

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.spec.ts": "pnpm test"
}

chore(env): add .env.example
  .env.example
  .gitignore
Due: none

chore: remove .env.example
  .env.development
Due: none

refactor: make database a shared lib
  .dockerignore
  apps/orders/src/common/shared/modules/impl/melhorenvio-delivery-calculation.service.ts
  apps/orders/src/database/database.module.ts
  apps/orders/src/orders.module.ts
  apps/orders/src/repositories/impl/prisma-orders.repository.ts
  apps/products/src/database/database.module.ts
  apps/products/src/database/providers/prisma-database.provider.ts
  apps/products/src/products.module.ts
  apps/products/src/repositories/impl/prisma-products.repository.ts
  libs/common/database/database.module.ts
  libs/common/database/providers/prisma-database.provider.ts
  libs/common/src/common.module.ts
  libs/common/src/common.service.spec.ts
  libs/common/src/common.service.ts
  libs/common/src/index.ts
  libs/common/tsconfig.lib.json
  nest-cli.json
  package.json
  prisma/migrations/20250228190922_rename_order_delivery_options_table/migration.sql
  prisma/schema.prisma
  tsconfig.json
Due: eslint --fix, prettier --write, pnpm test

feat: implement add-to-stock and remove-from-stock usecases
  apps/api-gateway/src/modules/products/dto/add-stock.dto.ts
  apps/api-gateway/src/modules/products/dto/remove-from-stock.dto.ts
  apps/api-gateway/src/modules/products/products.controller.ts
  apps/api-gateway/src/modules/products/products.service.ts
  apps/products/src/products.controller.spec.ts
  apps/products/src/products.controller.ts
  apps/products/src/repositories/impl/prisma-products.repository.ts
  apps/products/src/repositories/products.repository.ts
  apps/products/src/usecases/add-to-stock.usecase.ts
  apps/products/src/usecases/index.ts
  apps/products/src/usecases/remove-from-stock.usecase.ts
  libs/common/src/common.module.ts
  libs/common/src/common.service.spec.ts
  libs/common/src/common.service.ts
  libs/common/src/index.ts
  package.json
Due: eslint --fix, prettier --write, pnpm test

chore(docs): add initial setup steps
  README.md
Due: none

chore(docs): add env instructions
  README.md
Due: none

feat: return error messages
  apps/api-gateway/src/modules/orders/orders.service.ts
  apps/api-gateway/src/modules/products/products.service.ts
Due: eslint --fix, prettier --write

chore(env): add missing env to .env.example
  apps/orders/.env.example
Due: none

chore(env): add compose examples in example env files
  apps/api-gateway/.env.example
  apps/orders/.env.example
  apps/products/.env.example
Due: none

chore: remove prisma client from tests
  package.json
Due: none

chore(package): fix wrong command
  package.json
Due: none
